header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    background-color: rgb(20, 102, 156);
}

nav{
    display: flex;
    gap: 5vw;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: clamp(20px, 2.5vw, 30px);
}

h1{
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: clamp(15px, 5vw, 100px);
}
.title{
    text-decoration: none;
    color: white;
}
.img{
    width: 7vw;
    height: auto;

}
body{
    margin: 0;
}
.logo-titulo{
    display: flex;
    gap: 15px;
    align-items: center;
}
.hero{
    position: relative;
    width: 100%;
}
.hero img{
    width: 100%;
    display: block;
    filter: brightness(46%);
}
.hero h2{
    position: absolute;
    top: 30%;
    left: 50%;
    color: white;
    font-size: clamp(50px, 5vw, 70px);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: sans-serif;
}
.hero p{
    color: white;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: clamp(20px, 3vw, 70px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button{
    left: 50%;
    position: absolute;
    top: 78%;
    background-color: rgb(28, 66, 162);
    border-radius: 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 15px 35px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 0 rgb(6, 16, 90);
    transition: 0.5s;
}
.button:hover{
    transform: translate(-50%, -50%) scale(0.95);
    box-shadow: 0 0 0 rgb(5, 11, 85);
}
.imagen img{
    width: 40vw;
    height: auto;
    max-width: 600px;
    margin: 40px 40px 30px 40px;
}
.content{
    display: flex;
    align-items: flex-start;
}
.texto1{
    color: blueviolet;
    font-size: 2.5vw;
    padding: 7px;
}
h3{
    font-size: 3vw;
    margin-top: -10px;
    padding: 2px
}
.texto2{
    font-size: clamp(16px, 2vw, 50px);
    padding: 1px;
    margin: 10px;
}
.boton{
    background-color: rgba(22, 35, 178, 0.771);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    font-size: clamp(15px, 2vw, 40px);
    margin: 10px;
}
.boton:hover{
    transform: scale(0.90);
}
.services{
    background-color: rgb(246, 244, 241);
}
.texto3{
    color: rgb(129, 20, 225);
    font-size: 3vw;
    text-align: center;
    bottom: -1vw;
    position: relative;
    padding: 10px;
    font-family: sans-serif;
}
.title2{
    text-align: center;
    font-size: 3.2vw;
    margin: 10px;
}
.caja img{
    width: 6.4vw;
    height: auto;
    position: relative;
    border-radius: 50%;

}
.caja{
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 40vw;
    margin: 1.5vw;
    border-radius: 20px;
}
.title1{
    font-family: sans-serif;
    font-size: 2vw;
    margin-top: 7px;
    margin-bottom: -2px;
}
.texto{
    font-family: sans-serif;
    font-size: 1.5vw;
}
.contenedor{
    display: flex;
    gap: 2px;
}
.logos{
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
    border: none;
}
footer{
    background-color: rgb(4, 9, 56);
    padding: 40px 60px 20px;
    color: white;
    overflow-x: auto;
}
footer p{
    font-size: 16px;
    color: white;
    margin: 0;
}
h4{
    font-size: 22px;
    color: rgb(36, 173, 182);
    margin-bottom: 15px;
}
.col {
    width: 20%;
}    
.footer-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: nowrap;
}
.col h5{
    margin-bottom: 15px;
    font-size: 18px;
    color: white
}
.col ul{
    list-style: none;
    padding: 0;
}
.col li{
    margin-bottom: 10px;
}
.caja2{
    width: 25%;
}
.texto5{
    width: auto;
    margin-bottom: 15px;
}
.footer-copy{
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,0.2) ;
}